$primary:       #400D12 ;
$secondary:     #FF0000;
// $success:       $green;
$info:          #CDFFFF;
// $warning:       $yellow;
// $danger:        $red;
$light:         #4FD5D6;
// $dark:          $gray-900;
// @import '../node_modules/bootstrap/scss/bootstrap';
// @import '../node_modules/bootstrap/scss/functions';
// @import '../node_modules/bootstrap/scss/variables';