$primary:       #9e3730 ;
$secondary:     #74beb0;
// $success:       $green;
$info:          #d09991;
$warning:       #edc68d;
// $danger:        $red;
$light:         #f8f9fa;
$dark:          #38273B;
// @import '../node_modules/bootstrap/scss/bootstrap';
// @import '../node_modules/bootstrap/scss/functions';
// @import '../node_modules/bootstrap/scss/variables';